.App{
  min-height: 100vh;
  background-image: linear-gradient(to top, #37ecba 0%, #72afd3 100%);
}

.search-form{
  min-height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-bar{
  width: 50%;
  border: none;
  padding: 10px;
}

.search-button{
  background-image: linear-gradient(180deg, #2af598 0%, #009efd 100%);
  border: none;
  padding: 10-20px;
  color: white;
}

.recipes{
  display: flex;
  font-family: 'Jomolhari', serif;
  justify-content: space-around;
  flex-wrap: wrap;
}

.h2{
  background-color: aqua;
}